extend layout_list
block body
  div(id="inputArea")
    h2 ToDoLists
    input(type="text", id="input", placeholder="Please input...")
  ul(id="todolists")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/list.js")
