extends layout
block body
  div(id="inputArea")
    h2 ToDoLists
    input(type="text", id="input", placeholder="Please input...")
    button(id="send") Submit
  ul(id="todolists")
  div(class="cleaner")
  link(rel="stylesheet", href="/stylesheets/list.css")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/lists.js")
