extends layout2
block body
  form(id="signup", action="/signup", method="POST")
    fieldset
      legend Sign up
      p
        label Username
        input(name="user[name]", type="text")
      p
        label Email
        input(name="user[email]", type="email")
      p
        label Password
        input(name="user[password]", type="password")
      p
        label Password Repeat
        input(name="user[password-repeat]", type="password")
      p
        label First
        input(name="user[first]", type="text")
      p
        label Last
        input(name="user[last]", type="text")
      p
        input(type="submit") Submit
      p
        a(href="/") Go Back
  h2= info
  script(src="javascripts/signup.js")
