extends layout_list
block body
  form(id="signup", action="/list/signup", method="POST")
    fieldset
      legend Sign up
      p
        label Username
        input(name="user[name]", type="text", required)
      p
        label Email
        input(name="user[email]", type="email", required)
      p
        label Password
        input(name="user[password]", type="password", required)
      p
        label Password Repeat
        input(name="user[password-repeat]", type="password")
      p
        input(type="submit") Submit
      p
        a(href="/list") Go Back
  h2= info
